In [1]:
# Adjusting screen 
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [43]:
biotech_classes = ["A01H001", "A01H004", "A01K067", "A01K035/12", "A01K035/13", "A01K035/14","A01K035/15", "A01K035/16", "A01K035/17", "A01K035/18", "A01K035/19", "A01K035/20", "A01K035/21", "A01K035/22", "A01K035/23", "A01K035/24", "A01K035/25", "A01K035/26", "A01K035/27", "A01K035/28", "A01K035/29", "A01K035/30", "A01K035/31", "A01K305/32", "A01K035/33", "A01K035/34", "A01K035/35", "A01K035/36", "A01K035/37", "A01K035/38", "A01K035/39", "A01K035/40", "A01K035/41", "A01K035/42", "A01K035/43", "A01K035/44", "A01K035/45", "A01K035/46", "A01K035/47", "A01K035/48", "A01K035/49", "A01K035/50", "A01K035/51", "A01K035/52", "A01K035/53", "A01K035/54", "A01K035/55", "A01K035/56", "A01K035/57", "A01K035/58", "A01K035/59", "A01K035/60", "A01K035/61", "A01K035/62", "A01K035/63", "A01K035/64", "A01K035/65", "A01K035/66", "A01K035/67", "A01K035/68", "A01K035/69", "A01K035/70", "A01K035/71", "A01K035/72", "A01K035/73", "A01K035/74", "A01K035/75", "A01K035/76", "A01K035/77", "A01K035/78", "A01K035/79", "A61K38", "A61K039", "A16K048", "C02F003/34", "C07G011", "C07G013", "C07G015", "C07K004", "C07K014", "C07K016", "C07K017", "C07K019", "C12M", "C12N", "C12P", "C12Q", "C40B010", "C40B040/02", "C40B040/03","C40B040/04", "C40B040/05", "C40B040/06", "C40B040/07", "C40B040/08", "C40B050/06", "G01N027/327", "G01N033/53", "G01N033/54", "G01N033/55", "G01N033/57", "G01N033/68", "G01N033/74", "G01N033/76", "G01N033/78", "G01N033/88", "G01N033/92", "G06F019/10","G06F019/11", "G06F019/12", "G06F019/13", "G06F019/14", "G06F019/15", "G06F019/16", "G06F019/17", "G06F019/18", "G06F019/20", "G06F019/21", "G06F019/22", "G06F019/23", "G06F019/24"]

In [47]:
biotech_classes_ELSA = [
    'A01H1',
    'A01H4',
    'A01K67',
    'A61K48',
    'C12M',
    'C12N',
    'C12P',
    'C12Q',
    'G01N27/327',
    'C07K4',
    'C07K14', 
    'C07K16',
    'C07K17',
    'C07K19',
    'C40B10',
    'G01N3353',
    'G01N3354',
    'G01N3355',
    'G01N3357',
    'G01N3368',
    'G01N3374',
    'G01N3376',
    'G01N3378',
    'G01N3388',
    'G01N3392',
    'C07G11', 
    'C07G13', 
    'C07G15',
    'C02F3/34',
    'A61K38',
    'A61K39',
    'C40B50/06',
    'A61K35/12', 'A61K35/13', 'A61K35/14', 'A61K35/15', 'A61K35/16', 'A61K35/17', 'A61K35/18', 'A61K35/19', 'A61K35/20', 'A61K35/21', 'A61K35/22', 'A61K35/23', 'A61K35/24', 'A61K35/25', 'A61K35/26', 'A61K35/27', 'A61K35/28', 'A61K35/29', 'A61K35/30', 'A61K35/31', 'A61K35/32', 'A61K35/33', 'A61K35/34', 'A61K35/35', 'A61K35/36', 'A61K35/37', 'A61K35/38', 'A61K35/39', 'A61K35/40', 'A61K35/41', 'A61K35/42', 'A61K35/43', 'A61K35/44', 'A61K35/45', 'A61K35/46', 'A61K35/47', 'A61K35/48', 'A61K35/49', 'A61K35/50', 'A61K35/51', 'A61K35/52', 'A61K35/53', 'A61K35/54', 'A61K35/55', 'A61K35/56', 'A61K35/57', 'A61K35/58', 'A61K35/59', 'A61K35/60', 'A61K35/61', 'A61K35/62', 'A61K35/63', 'A61K35/64', 'A61K35/65', 'A61K35/66', 'A61K35/67', 'A61K35/68', 'A61K35/69', 'A61K35/70', 'A61K35/71', 'A61K35/72', 'A61K35/73', 'A61K35/74', 'A61K35/75', 'A61K35/76', 'A61K35/77', 'A61K35/78', 'A61K35/79',
    'C40B40/02', 'C40B40/03', 'C40B40/04', 'C40B40/05', 'C40B40/06', 'C40B40/07', 'C40B40/08',
    'G06F19/10', 'G06F19/11', 'G06F19/12', 'G06F19/13', 'G06F19/14', 'G06F19/15', 'G06F19/16', 'G06F19/17', 'G06F19/18',
    'G06F19/20', 'G06F19/21', 'G06F19/22', 'G06F19/23', 'G06F19/24'
]

In [3]:
import networkx as nx
import random
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import numpy as np
import IPython
from tqdm import tqdm
import pandas as pd
import matplotlib as mpl
from itertools import count
import geopandas as gpd
import pydot
from networkx.drawing.nx_pydot import to_pydot
import igraph as ig
import matplotlib.pyplot as plt
import matplotlib.pylab as pl
from textwrap import wrap

plt.rcParams["font.family"] = "Helvetica Neue"

%matplotlib inline

In [4]:
IPC_descriptions = pd.read_csv('/Users/joebacchus/Desktop/Bartlett CASA/All_IPC.txt',sep='	').astype(str)
def translate_ipc(IPC):
    return list(IPC_descriptions.loc[IPC_descriptions['IPC'] == IPC]['Description'])

In [5]:
IPCs_raw = pd.read_csv('/Users/joebacchus/Desktop/Bartlett CASA/Data Updated/Patents/UK_patent_all_IPC_2.csv')
Patents_raw = pd.read_csv('/Users/joebacchus/Desktop/Bartlett CASA/Data Updated/Patents/UK_Patents_cited_wIPC.csv')[['app_nbr','appln_id','reg_code','prio_year','IPC']].drop_duplicates()
Citations_raw = pd.read_csv('/Users/joebacchus/Desktop/Bartlett CASA/Data Updated/Patents/UK_patent_citations.csv')
Citations_raw_2 = pd.read_csv('/Users/joebacchus/Desktop/Bartlett CASA/Data Updated/Patents/EPO_citation_UK_withIPC_loc.csv')

In [13]:
# IPCs_raw
print('Unique patents:',len(IPCs_raw['Citing_appln_id'].unique()))

Unique patents: 64918

In [14]:
# Patents_raw
print('Unique patents:',len(Patents_raw['app_nbr'].unique()))

Unique patents: 45366

In [28]:
# Citations_raw
print('Unique patents:',len(set(list(Citations_raw['source'].unique())+list(Citations_raw['target'].unique()))))

Unique patents: 25857

In [51]:
# Citations_raw cite at least once
print('Unique patents:',len(set(list(Citations_raw['source'].unique()))))

Unique patents: 15748

In [52]:
# Citations_raw cited at least once
print('Unique patents:',len(set(list(Citations_raw['target'].unique()))))

Unique patents: 12545

In [32]:
# Citations_raw_2
print('Unique patents:',len(set(list(Citations_raw_2['Citing_app_nbr'].unique())+list(Citations_raw_2['Cited_App_nbr'].unique()))))

Unique patents: 90150

In [48]:
print('Not unique:',len(biotech_pd['app_nbr']))

Not unique: 1407

In [50]:
print('Unique:',len(biotech_pd['app_nbr'].unique()))

Unique: 1016

In [145]:
Citations_raw_2 = Citations_raw_2[['Citing_appln_id','Cited_Appln_id']].astype(str).drop_duplicates()

In [59]:
IPCs_raw['ipc_class_symbol'] = IPCs_raw['ipc_class_symbol'].str.replace(' ','')
IPCs_raw

        Citing_appln_id ipc_class_symbol
0                    64         D21F1/32
1                    64         D21G9/00
2                    64        G01N15/08
3                    76         A47C7/46
4                    76         B60N2/66
...                 ...              ...
300842        509041326         G01J1/16
300843        509041326        G01N21/31
300844        509041326      G01N21/3504
300845        509351327         E04B1/41
300846        509351327        E04G15/04

[300847 rows x 2 columns]

In [172]:
biotech_pd=pd.DataFrame()
for i in tqdm(range(len(biotech_classes))):
    filt_for_type = IPCs_raw['ipc_class_symbol'].str.contains('^'+biotech_classes[i]).fillna(False)
    biotech_spec = IPCs_raw.loc[filt_for_type]
    biotech_pd = pd.concat([biotech_pd, biotech_spec], ignore_index=True)

100%|█████████████████████████████████████████| 121/121 [00:11<00:00, 10.52it/s]

In [173]:
biotech_pd = biotech_pd.astype(str)
only = list(set(biotech_pd['Citing_appln_id']))

In [174]:
biotech_pd

     Citing_appln_id ipc_class_symbol
0               3103        A61K38/00
1               3103        A61K38/39
2               3967        A61K38/05
3               4497        A61K38/00
4               5166        A61K38/00
...              ...              ...
8503       497237987         C12Q1/68
8504       500378750       C12Q1/6883
8505       500856061         C12Q1/68
8506       502579277         C12Q1/68
8507       504876466       C12Q1/6886

[8508 rows x 2 columns]

In [175]:
Citations_raw_2 = Citations_raw_2.astype(str)
filtered_df = Citations_raw_2[Citations_raw_2["Citing_appln_id"].isin(only)]

In [176]:
Citations_raw_2

       Citing_appln_id Cited_Appln_id
0             16428374     16429355.0
2             16436949     16429410.0
3             16436952     16429355.0
6             16436966     16429410.0
7             16437453     16429240.0
...                ...            ...
189402       488857541     56778599.0
189404       488857545     56778599.0
189406       506365616     16400660.0
189407       493586959    446558528.0
189410       508236996       305056.0

[73279 rows x 2 columns]

In [183]:
filtered_df

       Citing_appln_id Cited_Appln_id
15            16439987     16427512.0
64            16438723     16427782.0
149           16444502     16437417.0
162           16456972     16429900.0
163           16456972     16455621.0
...                ...            ...
189284       500856061     16799796.0
189325       506617281     16679948.0
189329       488753381    411643923.0
189337       504590472     16423319.0
189342       504590472       359291.0

[3424 rows x 2 columns]

In [178]:
edges = list(zip(list(Citations_raw['source']),list(Citations_raw['target'])))

In [179]:
graph = nx.DiGraph()
graph.add_edges_from(edges)

In [ ]:
graph.remove_nodes_from(filtered_df)